body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #141e30, #243b55);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
